*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: white;
}
header{
  max-width: 1600px;
  height: 56px;
  display: flex;
  background-color: #111111;
  padding: 0 20px;
  border-bottom: 1px solid #676767;
  align-items: center;
  justify-content: space-between;
}
.navegador__items{
  display: flex;
  align-items: center;
  height: 56px;
}
.navegador__logo{
  width: 353px;
  height: 35px;
  font-weight: bold;
  margin-left: 25px;
}
.navegador__item{
  display: inline-block;
  color: white;
  font-size: 12px;
  padding: 10px 10px 0;
}
.navegador__item:hover{
  background-color: gray;
}
.navegador__icono{
  background-color: white;
  color: black;
  border-radius: 100%;
  padding: 7px;
  font-size: large;
  margin-right: 25px;
}

